
@foreach(Lab4.Models.Article art in ViewBag.Articole){

	<h1>@art.Title</h1>
	<p>@art.Content</p>
	<small>@art.Date</small>

	<a class="btn btn-success" href="/Articles/Show/@art.Id">Afisare articol</a>
	<a class="btn btn-outline-warning" href="/Articles/Edit/@art.Id">Editare articol</a>	

	@* linie spatiu linie *@

	<br />	
	<hr /> 
	<br />

}

<br/>

<a href="/Articles/New">Adaugare articol</a>
